body{
	background-image: url('../img/grey_wash_wall.png');
}

#video{
	text-align: center;
}

#badges{
	padding-top: .5%;
	text-align: center;
}

#e4{
	text-align: center;
}

#party{
	text-align: center;
}